

html {
  overflow-y: scroll;
}

body{
  font-family:'Open Sans', sans-serif;
  background: white;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
    color: #151837;
}

a:link {
    text-decoration: none;
    color: #151837;
}

a:visited {
    text-decoration: none;
    color: #151837;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #151837;
}

a:active {
    text-decoration: underline;
}

.wrapper {

    width:1100px;
    margin:0 auto;
}

.layer{
    margin-top:15px;
    margin-bottom:15px;

}

header {
    background-color: #80bdff;
    padding: 10px;
    overflow:hidden;
}

input {
    display: block;
    margin-top: 5px;
    margin-bottom:10px;
}
.receptVerwijderButton {
    display: inline;
        margin-top: 0px;
    margin-bottom: 0px;
}
.account-actions{
    float:right;
    margin-right:25px;
}

main {
    background-color: #80bdff;
    padding: 10px;
}

footer {
    background-color: #80bdff;
    text-align: center;
    padding: 10px;
}

.sexy {
    margin-top:10px;
    margin-bottom:10px;
}

.inline {
    display: inline;
}
.autocomplete {
    display: inline;
}
.autocomplete2 {
    display: inline;
}
textarea {
    display: block;
}

#receptOmschrijving {
    width: 250px;
}


.bericht {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: red;
    margin-top: 20px;
}

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }

